<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Makeup Organizer</title>
  </head>
  <body>
    <header>
      <h1>makeup organizer</h1>
    </header>
    <main>
      <div class="container">
        <div class="welcome">
          <div class="heading">
            <h3>I HELP YOU ORGANIZE YOUR MAKEUP</h3>
          </div>
          <div class="links">
            <button class="log-in">
              <a href="/sessions/new">LOG IN</a>
            </button>
            <a class="new-user" href="/users/new"
              >NEW USER? CLICK HERE TO CREATE AN ACCOUNT FOR FREE!</a
            >
          </div>
        </div>
        <div class="image">
          <img
            src="https://www.sephora.com/productimages/sku/s2368454-av-04-zoom.jpg?imwidth=1166"
            alt="makeup"
          />
        </div>
      </div>
    </main>
    <footer>
      <p>Coded by Fabiola Pina</p>
    </footer>
  </body>
  <style>
    body {
      background-color: #fdf8f5;
      color: #4f4846;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }

    .welcome {
      background-color: #e8cebf;
      max-width: 50%;
      color: #fdf8f5;
    }

    h3 {
      font-size: 60px;
      text-align: center;
    }

    .links {
      display: flex;
      flex-direction: column;
    }

    .log-in {
      background-color: #ddaf94;
      border-radius: 15px;
      padding: 10px;
      cursor: pointer;
      width: 30%;
      margin: 0 auto;
    }

    .new-user {
      text-align: center;
      position: relative;
      top: 10px;
      text-decoration: none;
      color: #fdf8f5;
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: #fdf8f5;
      font-size: 16px;
    }

    a:hover {
      color: #4f4846;
    }

    .image {
      max-width: 50%;
      height: auto;
    }

    p {
      opacity: 0.75;
    }
  </style>
</html>
