<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Collection</title>
  </head>
  <body>
    <header>
      <h1>makeup organizer</h1>
    </header>
    <footer>
      <p>Coded by Fabiola Pina</p>
    </footer>
  </body>
</html>
