<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add More Makeup</title>
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <hr />
    <h2>Add to Your Collection</h2>
    <main>
      <form class="container" action="/yourCollection" method="POST">
        <label>TYPE:</label>
        <select id="type" name="type">
          <option value="select" disabled selected>
            Where does the product go?
          </option>
          <option value="eyes" name="eyes">Eyes</option>
          <option value="lips" name="lips">Lips</option>
          <option value="face" name="face">Face</option>
        </select>
        NAME: <input type="text" name="name" /> IMAGE:
        <input type="text" name="img" /> SHADE:
        <input type="text" name="shade" /> BUY MORE:
        <input type="checkbox" name="buy-more" />
        TAGS: <input type="text" name="tags" />
        <input type="submit" value="ADD" />
      </form>
    </main>
    <footer>
      <hr />
      <p>Coded by Fabiola Pina</p>
    </footer>
  </body>
  <style>
    body {
      background-color: #fdf8f5;
      color: #4f4846;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      opacity: 0.75;
    }
  </style>
</html>
