<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title> 
  </head>
  <body>
    <header>
      <h1>makeup organizer</h1>
    </header> 
    <hr />
    <h2>Log In</h2> 
    <main>
    <form class='log-in' action="/sessions" method="POST">
      <label for="name">User Name:</label>
      <input type="text" name="username" required/>
      <label for="color">Password:</label>
      <input type="password" name="password" />
      <input type="submit" value="LOG IN"> 
     <form>   
    </main>
    <footer>
      <hr />
      <p>Coded by Fabiola Pina</p>
    </footer>
  </body>
  <style>
     body {
      background-color: #fdf8f5;
      color: #4f4846;
    } 

     h2,
    main {
      text-align: center;
    } 

     p {
      opacity: 0.75;
    } 
  </style> 
</html> 