<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New User</title>
  </head>
  <body>
    <header>
      <h1>makeup organizer</h1>
    </header> 
    <hr />
    <h2>New User</h2>  
    <main>
    <form class='new-user' action="/users" method="POST">
      <label for="name">User Name:</label>
      <input type="text" name="username" required/>
      <label for="color">Password:</label>
      <input type="password" name="password" /> 
      <input type="submit" value="CREATE NEW USER">
     <form>   
    </main>
    <footer>
      <hr />
      <p>Coded by Fabiola Pina</p>
    </footer>
  </body>
   <style>
     body {
      background-color: #fdf8f5;
      color: #4f4846;
    } 

     h2,
    main {
      text-align: center;
    } 

     p {
      opacity: 0.75;
    } 
  </style>  
</html>
